<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title><%= font.name %> | FontSmith</title>
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="<%= File.basename(font.css_path) %>" />
    <style type="text/css">
      body {
        margin: 30px 40px;
      }

      table.glyphs tr td {
        vertical-align: middle;
      }

      .<%= font.identifier %>.small {
        font-size: 40px;
        color: black;
      }

      .<%= font.identifier %>.medium {
        font-size: 68px;
        color: #339966;
      }

      .<%= font.identifier %>.big {
        font-size: 98px;
        color: #3366CC;
      }

      .glyphs.table td span {
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <h1><%= font.name %> v<%= font.version %> - <a href="https://github.com/tulios/fontsmith" target="_blank">FontSmith</a></h1>

    <ul class="unstyled">
    <% [:ttf, :eot, :woff, :svg].each do |extension| %>
      <li><a href="<%= "#{font.basename}.#{extension}" %>"><%= "#{font.basename}.#{extension}" %></a></li>
    <% end %>
    </ul>

    <table class="glyphs table">
      <thead>
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 30%">Icon</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for glyph in font.glyphs do %>
          <tr>
            <td><%= glyph.name %></td>
            <td>
              <span class="<%= font.identifier %> <%= glyph.name %> small"></span>
              <span class="<%= font.identifier %> <%= glyph.name %> medium"></span>
              <span class="<%= font.identifier %> <%= glyph.name %> big"></span>
            </td>
            <td style="vertical-align: middle">
              <code>&lt;span class="<%= font.identifier %> <%= glyph.name %>"&gt;&lt;/span&gt;</code>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
